.body {
    padding: auto;
    margin: auto;
}


/* .span-cointaner {
    display: inline-block;
    /* margin: 10px 0px 0px 300px; */
/* margin: 0px 0px 0px 0px; */




#view-score {
    display: inline-block;
    margin-top: 10px;
    margin-left: 100px;
    color: rgb(205, 45, 207);
    font-weight: bolder;
}

#timer {
    display: inline-block;
    margin-top: 10px;
    margin-left: 1400px;
    color: rgb(40, 36, 36);
    font-weight: bold;
    font-size: 20px;
}

.header {
    display: block;
    justify-content: center;
    margin: 5px 0px 0px 0px;

}

.header-div {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 10px;
    text-align: center;

}

#h1-header-class {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}


#header-first-paragraph {
    display: block;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


.section-one {
    display: block;
    margin: 30px 500px 10px 500px;
    text-align: center;
    border-radius: 10px;
    position: 10px;
    /*background-color: rgb(38, 44, 44); */
}


.start-quiz-button {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(61, 13, 107);
    font-size: 20px;
    color: white;

}


.start-quiz-button:hover {
    background-color: rgb(200, 69, 202);
}

#questions-div {
    display: block;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 25px;

}




#answers-div {
    margin-top: 25px;

}

ul {
    display: flex;
    text-align: center;
}

li {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: blueviolet;
    padding: 0px 0px 0px 0px;
    list-style-type: none;


}

.question-btn {

    background-color: rgb(61, 13, 107);
    padding: 10px 10px 10px 10px;
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

}

.question-btn:hover {
    background-color: rgb(200, 69, 202);
}

button {
    width: 150px;
    padding: 20px;
    margin-top: 8px;
    display: block;
    background-color: rgb(61, 13, 107);
    color: white;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;

}

button:hover {
    background-color: rgb(200, 69, 202);

}

#section-two,
#wrong-answer,
#correct-answer {
    text-align: center;
    margin: 20px 0px 0px 0px;
    display: block;
    justify-content: center;



}